


<div id="login-box">
    <div class="left">
      <h1 style="text-align: center;"> <strong>Sign in</strong>  </h1>
      
      <input type="text" name="username" placeholder="Username" />
      <input type="password" name="password" placeholder="Password" />
        <p>Don't have an account?  <a href="">Sign up</a>  
      </p> 
      <input style="margin-left: 200px; margin-top: 50px;" type="submit" name="signup_submit" value="Login"  />
    </div>
    
    <div class="right">
      
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
  </div>




