


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>



<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Các Mẫu Sản Phẩm</h1>
        <p class="lead text-muted">Các mẫu dưới đây hiện tại đang được giảm giá và ưu đãi với giá cực sốc</p>
        
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
             <img src="../assets/hinh1.jpg"alt="">

            <div class="card-body">
              <p class="card-text">Quần Tây Full Đen</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Mua Ngay</button>

                </div>
                <small class="text-muted">399.000 Đ</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
 <img src="../assets/hinh2.jpg" alt="">

            <div class="card-body">
              <p class="card-text">Áo Sơ Mi Tay Ngắn</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Mua Ngay</button>
                </div>
                <small class="text-muted"> 299.000 Đ</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src="../assets/hinh3.jpg" alt="">

            <div class="card-body">
              <p class="card-text">Nón </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Mua Ngay</button>
                </div>
                <small class="text-muted"> 79.000 Đ</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
             <img src="../assets/hinh4.jpg" alt="">

            <div class="card-body">
              <p class="card-text">Áo Khoác Hoddie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Mua Ngay</button>
                </div>
                <small class="text-muted">325.000 Đ</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src="../assets/hinh5.jpg" alt=""> 

            <div class="card-body">
              <p class="card-text">Quần Đùi Xám</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Mua Ngay</button>
                </div>
                <small class="text-muted"> 150.000 Đ</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../assets/hinh6.jpg" alt="">

            <div class="card-body">
              <p class="card-text">Quần Đùi Trắng</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Mua Ngay</button>
                </div>
                <small class="text-muted"> 150.000 Đ</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../assets/hinh8.jpg" alt="">

            <div class="card-body">
              <p class="card-text">Quần Tây</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Mua Ngay</button>
                </div>
                <small class="text-muted"> 299.000 Đ</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../assets/hinh9.jpg" alt="">

            <div class="card-body">
              <p class="card-text">Áo sơ mi tay dài </p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Mua Ngay</button>
                </div>
                <small class="text-muted"> 350.000 Đ</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="../assets/hinh10.jpg" alt="">

            <div class="card-body">
              <p class="card-text">Áo Thun</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Mua Ngay</button>
                </div>
                <small class="text-muted"> 200.000 Đ</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#"></a>
    </p>
    <p class="mb-1">Mặt hàng bị hư hại có thể hoàn trả trong vòng 48H. Cảm ơn khách hàng đã ủng hộ chúng tôi</p>
  </div>
</footer>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

